<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SKINCARE</title>
    <link rel="stylesheet" href="CSS/style.css">

    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">

    <link rel="stylesheet"
     href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,600&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <img src="img/logoPNG.png" alt="Logo de la página" class="logo" width= "113px"  height="38px">
        <ul class="navbar">
            <li><a href="#" class="active">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="/src/views/PRODUCT/Products.html">Products</a></li>
            <li><a href="#">News</a></li>

        </ul>

        <div class="main">
            <a href="#" class="car"><i class="ri-shopping-cart-line"></i></a>
            <a href="#" class="search"><i class="ri-search-line"></i></a>

            <a href="/src/views/LogIn.html" class="user"><i class="ri-user-line"></i>Sign In</a>
            <div class="bx bx-menu" id="menu-icon"></div>
        </div>
    </header>

    <div class="slider">
        <ul>
            <li><img id="slider-1" src="img/Fondo-home.jpg" alt=""></li>
            <li><img id="slider-2" src="img/Fondo-home.jpg" alt=""></li>
            <li><img id="slider-3" src="img/Fondo-home.jpg" alt=""></li>
        </ul>
        <div class="slider-nav">
            <a href="#slider-1"></a>
            <a href="#slider-2"></a>
            <a href="#slider-3"></a>
        </div>
    </div>

    <section class="category-cont">
        <div class="title-cont">
            <h2>COMPRAR POR CATEGORIA</h2>
        </div>
        <div class="category">
            <ul class="nav-category">
                <li><a href="#" class="active">CUIDADO DE PIEL</a></li>
                <li><a href="#">CUIDADO DE PELO</a></li>
                <li><a href="#">MAQUILLAJE</a></li>
                <li><a href="#">HERRAMIENTAS</a></li>
                <li><a href="#">FRAGANCIAS</a></li>

            </ul>
        </div>

    </section>

    <div class="principal-gal">
        <div class="pic-1">
            <!-- <img src="img/img-home1.jpg" alt=""> -->
        </div>
        <div class="cont-1">
            <div class="pic-2">
                <!-- <img src="img/img-home2.jpg" alt=""> -->
            </div>
            <div class="pic-3">
                <!-- <img src="img/img-home3.jpg" alt=""> -->
            </div>
        </div>
        <div class="cont-2">
            <div class="pic-4">
                <!-- <img src="img/img-home4.jpg" alt=""> -->
            </div>
            <div class="pic-5">
                <!-- <img src="img/img-home1.jpg" alt=""> -->
            </div>
        </div>

    </div>


    <footer class="footer">
        <div class="foot-container">
            <div class="row">
                <div class="footer-par">
                    <p>Términos de derechos de autor para Skin Care (2023): todo el contenido del sitio web de Skin Care, incluidos textos, gráficos, logotipos, imágenes y software, es propiedad de Skin Care o sus licenciantes y está protegido por las leyes de derechos de autor. No puede reproducir, distribuir, modificar ni crear obras derivadas de ningún contenido sin obtener nuestro consentimiento previo por escrito. Se puede permitir el uso limitado del contenido para fines no comerciales, educativos o personales bajo el uso justo, siempre que se proporcione la atribución adecuada. Nos reservamos el derecho de hacer cumplir nuestros derechos de autor y propiedad intelectual. Estos términos están sujetos a cambios sin previo aviso, así que revíselos periódicamente.</p>
                    
                </div>
                <div class="footer-col">
                    <h4>Get help</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Shipping</a></li>
                        <li><a href="#">Return</a></li>
                        <li><a href="#">Order Status</a></li>
                        <li><a href="#">Payment Options</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Company</h4>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Our Services</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Aggiliate Program</a></li>
                    </ul>
                </div>
                <div class="footer-follow">
                    <h4>Follow Us</h4>
                    <div class="social-links">
                        <a href="#" class="facebook"><i class='bx bxl-facebook'></i></a>
                        <a href="#" class="facebook"><i class='bx bxl-twitter' ></i></box-icon></a>
                        <a href="#" class="facebook"><i class='bx bxl-youtube' ></i></a>
                        <a href="#" class="facebook"><i class='bx bxl-pinterest-alt' ></i></a>
                        <a href="#" class="facebook"><i class='bx bxl-instagram' ></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>


</body>
</html>